/* input[type=text],
select {
    width: 300px;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */


/* input[type=submit] {

    width: 180px;
    color: #0055ff;
    border-style: ridge;
    border-color: #0055ff;
    background-color: white;
    padding: 14px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #0055ff;
    color: white;
} */
.nav-item{
    color: black;
}
#container {
    height: 400px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}
.tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#datatable {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
#datatable caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
#datatable th {
	font-weight: 600;
    padding: 0.5em;
}
#datatable td, #datatable th, #datatable caption {
    padding: 0.5em;
}
#datatable thead tr, #datatable tr:nth-child(even) {
    background: #f8f8f8;
}
#datatable tr:hover {
    background: #f1f7ff;
}


html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cerrarSesion {
    width: 180px;
    font-size: 10pt;
    color: #0055ff;
    border: #0055ff solid 1px;
    background-color: white;
    padding: 14px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.cerrarSesion:hover {
    background-color: #0055ff;
    color: white;
}

.btnModulo {
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: 10pt;
    background-color: #0055ff;
    margin-bottom: 5px;
}

.inicio {
    border-radius: 5px;
    background-color: #f4f5f9;
    padding: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}

h1,
h2,
h3,
h4,
h6,
input {
    font-family: 'Work Sans', sans-serif;
}

button {
    width: 200px;
    background-color: #ffffff;
    color: #0055ff;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.button1 {
    width: 10px;
    height: 30px;
    padding: 1ch;
    background-color: #ffffff;
    color: #000000;
    border: #0055FF 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.button2 {
    /* width: 170px; */
    /* height: 60px; */
    /* text-align: center; */
    margin-left: 10px;
    background-color: #ffffff;
    color: #000000;
    border: #0055FF 1px solid;
    border-radius: 4px;
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.btn-linkj {
    background-color: #0055ff;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.b3 {
    background-color: #f4f5f9;
    color: #0055FF;
    font-size: 14px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.label1 {
    color: #0055FF;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

.label2 {
    color: #0055FF;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.label3 {
    color: #000000;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
}

h4 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

h5 {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

.p1 {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.p2 {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
}

.p3 {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.hr1 {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 30vh;
    width: 1px;
}

.tablas-resultados {
    position: relative;
}

.tablas-resultados .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 1000;
}

.tablas-resultados.listo .overlay {
    display: none;
}


/* .tablas-resultados .table td {
	white-space: nowrap;
} */

.tab-pane {
    padding: 15px;
    border: solid 1px #ddd;
    margin-top: -1px;
    overflow: auto;
}

.tab-pane .form-inline {
    margin-bottom: 10px;
}

.text-bold {
    font-weight: bold;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.fabutton {
    background-color: transparent;
    /* Mouse pointer on hover */
    cursor: pointer;
    width: auto;
    height: auto;
}

.mainbox2 {
    width: 650px;
}

.pf {
    font-weight: bold;
    font-size: medium;
}

.CellWithComment {
    position: relative;
}

.CellComment {
    display: none;
    position: absolute;
    z-index: 100;
    border: 1px;
    background-color: rgb(240, 252, 82);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 3px;
    color: black;
    top: 20px;
    left: 10px;
    width: 200px;
}

.CellWithComment:hover span.CellComment {
    display: block;
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo {
    width: 80px;
    height: 80px;
}

.msg404 {
    color: #0055FF;
    font-size: 85px;
}

.msg404-2 {
    color: black;
    font-size: 23px;
    font-family: 'Work Sans', sans-serif
}

.logo0 {
    width: 380px;
}

.container404 {
    margin-top: 100px;
}
